
/* Default placeholder image for members without a photo */
.pic {
  background-image: url("../../assets/about/prof-imgs/gen-prof-img.png");
  background-size: cover;
  background-position: center;
}



/* Advisors */
.adv-1 .pic {
  background-image: url("../../assets/about/prof-imgs/prof-imgs/Vikas.jpg");
}
.adv-2 .pic {
  background-image: url("../../assets/about/prof-imgs/prof-imgs/Anchit\ Dixit.jpeg");
}

/* Secretaries */
.xdivya-jain .pic {
  background-image: url("../../assets/about/prof-imgs/prof-imgs/divyajain.jpeg");
}
.xpiyush-singh .pic {
  background-image: url("../../assets/about/prof-imgs/prof-imgs/Piyush Kumar singh.jpeg");
}
.xkavya-singhal .pic {
  background-image: url("../../assets/about/prof-imgs/prof-imgs/kavyasinghal.jpg");
}
.xkavya-agarwal .pic {
  background-image: url("../../assets/about/prof-imgs/prof-imgs/Kavya Agarwal.jpg");
}
.xsiddhant .pic {
  background-image: url("../../assets/about/prof-imgs/prof-imgs/Siddhant Vashisth.png");
}

/* Visibility adjustments */
.x201B353 .github,
.x211B428 .github,
.x211B399 .github {
  display: none;
}

.x211B356 .linkedin {
  display: none;
}
